<div class="countdown__view">
  <div class="container">
    <div class="countdown__text"></div>
    <div class="countdown__time">
      <div class="clock">
        <div id="day">
          <div>00</div>
          <div>ngày</div>
        </div>
        <div id="hours">
          <div>00</div>
          <div>giờ</div>
        </div>
        <div id="mins">
          <div>00</div>
          <div>phút</div>
        </div>
        <div id="secs">
          <div>00</div>
          <div>giây</div>
        </div>
      </div>
    </div>
  </div>
</div>