.countdown__view {
  height: 250px;

  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: grey;

    .countdown__text {
      flex: 1;
    }

    .countdown__time {
      flex: 3;

      .clock {
        color: var(--green);
        height: 100%;
        align-items: center;
        display: flex;
        padding: 0 10px;

        & > div {
          background: transparentize(white, 0.1);
          width: 15%;
          flex: 1;
          text-align: center;
          padding: 15px;
          border-radius: 5px;
          border: 5px solid transparentize(black, 0.9);
        }

        & > div:not(:nth-child(4)) {
          margin-right: 10px;
        }
      }
    }
  }
}