<div class="event__view">
  <mat-card>
    <div class="event-header">
      <div class="vertical-line">
        <span>
          <i class="fi flaticon-two"></i>
        </span>
      </div>
      <div class="event__text">
        Sự Kiện
      </div>
    </div>
    <div class="event-content">
      <div class="image" fxHide.lt-sm="true">
        <img src="assets/photo/nhahang.jpg"/>
      </div>
      <div class="view">
        <h3>TIỆC CƯỚI</h3>
        <div class="gim">
          <fa-icon [icon]="faMapMarker"></fa-icon>
          <span> <p><b>Nhà hàng Quảng Đại Gold</b></p> <p>Lô A 2.8 đường 30 tháng 4 Đà Nẵng</p></span>
        </div>
        <div class="gim"><fa-icon [icon]="faClock"></fa-icon> <span>07/11/2020, 17:00 - 19:00</span></div>
      </div>
    </div>
  </mat-card>
</div>