<div id="header" class="navigation__header">
  <mat-toolbar [ngClass]="{'fixed': fixedView}">
    <mat-toolbar-row>
      <div class="navigation__icon">
        <span>Q</span>
        <i class="fi flaticon-heart"></i>
        <span>T</span>
      </div>
      <div class="navitation-block__button">
        <div (click)="onScrollTo('home')">Đầu Trang</div>
        <div (click)="onScrollTo('couple')">Dâu Rể</div>
        <div (click)="onScrollTo('countdown')">CountDown</div>
        <div (click)="onScrollTo('event')">Sự kiện</div>
        <div (click)="onScrollTo('album')">Thư Viện Ảnh</div>
        <div (click)="onScrollTo('wish')">Lời Chúc</div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>