@import 'variable';

.wishes-list-view {
  min-height: 300px;
  margin-bottom: 50px;

  .mat-card {
    position: relative;
    padding: 0px 0px;

    button {
      position: absolute;
      z-index: 1000;
      top: calc(50% - 30px);
      background-color: transparentize($green-dark, 0.4);

      &.left {
        left: 5px;
      }

      &.right {
        right: 5px;
      }
    }

    .wisheslist-container {
      padding: 0 10px;
      overflow-x: scroll;
      overflow-y: hidden;
      display: flex;
      position: relative;
    }

    .line-background {
      display: block;
      z-index: 100;
      padding-top: 16px;
      background-color: white;
      position: relative;

      .horizontal-line {
        width: 100%;
        height: 5px;
        background-color: #735238;
      }
    }

    canvas {
      transition: transform 0.5s;
      transform-style: preserve-3d;
      margin-top: -5px;

      &:hover {
        transform: rotateZ(5deg);
      }
    }
  }


}

.detail-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

  .detail-view-background {
    width: 100%;
    height: 100%;
    background-color: transparentize(black, $amount: 0.5);
  }

  .img-container {
    position: fixed;
    width: 500px;
    top: 20%;
    left: calc(50% - 250px);

    img {
      width: 100%;
    }

    .text {
      position: absolute;
      margin-top: 20px;
      font-family: 'SVN-Wallows';


      .from {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 2.5em;
      }

      .content {
        padding: 70px 30px;
        font-size: 2em;
        line-height: 36px;
      }
    }

    @media screen and (max-width: 542px){
      & {
        width: 300px;
        left: calc(50% - 150px);
        font-size: 0.7em !important;

        .content {
          padding: 30px 30px !important;
          line-height: 24px !important;
        }
      }
    }

    @media screen and (max-width: 315px){
      & {
        width: 100%;
        left: 0;
        font-size: 0.6em !important;

        .content {
          padding: 70px 30px;
        }
      }
    }
  }
}