@import 'variable';

.couple__view {
  position: relative;
  z-index: 51;
  padding: 60px 60px;
  background-color: white;

  .introduce {
    display: flex;
    flex-wrap: wrap;

    & > div {
      min-height: 100px;
    }

    .groom, .bride {
      display: flex;
      width: 100%;

      & > div {
        flex: 1;
        width: 50%;
      }

      .image {
        img {
          width: 100%;
        }
      }

      .inner-view {
        @include font-doris;
        padding: 0px 55px;
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;

        .title {
          letter-spacing: 5px;
          font-size: 2em;
          font-weight: bold;
          padding: 20px 0;
          text-transform: uppercase;
        }

        .content {
          font-size: 1.2em;
        }

        .signature {
          padding: 20px 0;
          font-size: 1.5em;
        }
      }
    }

    .bride {
      .signature {
        text-align: right;
      }
    }
  }
}