<div class="couple__view">
    <mat-card>
      <div class="introduce">
        <div class="groom">
          <div class="image"></div>
          <div class="inner">
            <div class="inner-view">
              <div class="title">chú rể</div>
              <div class="content">
                Xin chào, tôi là Quảng. Tôi là 1 developer. Những lúc rảnh rỗi, tôi thường nghiên cứu những thứ mới lạ về công nghệ, đọc sách hoặc cùng bạn bè chơi game.
              </div>
              <div class="signature">- Quảng</div>
            </div>
          </div>
        </div>
        <div class="bride">
          <div class="inner">
            <div class="inner-view">
              <div class="title">cô dâu</div>
              <div class="content">Hi I am suntina , dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</div>
              <div class="signature">Thư -</div>
            </div>
          </div>
          <div class="image"></div>
        </div>
      </div>
    </mat-card>
</div>