@import 'variable';

.couple__view {
  position: relative;
  z-index: 51;
  padding: 120px 120px;
  background-color: white;

  .introduce {
    display: flex;
    flex-direction: column;

    & > div {
      height: 400px;
    }

    .groom, .bride {
      display: flex;
      flex-direction: row;

      & > div {
        flex: 1;
      }

      .image {
        background-color: $grey;
      }

      .inner-view {
        @include font-doris;
        padding: 0px 55px;
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;

        .title {
          letter-spacing: 5px;
          font-size: 2em;
          font-weight: bold;
          padding: 20px 0;
          text-transform: uppercase;
        }

        .content {
          font-size: 1.2em;
        }

        .signature {
          padding: 20px 0;
          font-size: 1.5em;
        }
      }
    }

    .bride {
      .signature {
        float: right;
      }
    }
  }
}