@import 'variable';

.wishes__view {
  min-height: 700px;
  position: relative;

  .background {
    position: absolute;
    background: url('../../../assets/photo/517A7706.JPG') no-repeat top center scroll;
    background-size: cover;
    width: 100%;
    z-index: 1;
    height: 100%;
    // background-color: transparentize($color: #000000, $amount: 0.5)

    img {
      width: 100%;
    }
  }

  .wishes__matcard_view {
    // background-color: black;
    // position: relative;
    z-index: 2;
    background: transparentize($color: #000000, $amount: 0.2);

    .wishes-header {
      position: relative;
      height: 200px;
      margin-top: 30px;

      .vertical-line {
        width: 18px;
        height: 42px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;

        span {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          background: transparentize($white, 0.8);
          width: 2px;
          height: 42px;
          top: 17px;

          i {
            position: absolute;
            left: -34px;
            top: -63px;

            &:before {
              font-family: Flaticon;
              margin: 0;
              font-size: 65px;
              font-size: calc-rem-value(65);
              color: $white;
              opacity: 0.4;
            }
          }
        }

        &:before {
          content: "";
          background: transparentize($white, 0.8);
          width: 45px;
          height: 2px;
          top: 16px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .wishes__text {
        @include font-dancing;
        font-weight: bold;
        letter-spacing: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparentize($white, 0.9);
        font-size: 46px;
        font-size: calc-rem-value(46);
        color: $white;
        margin: 59px 0 0;
        padding: 10px 25px 5px;
        border-top: 2px solid transparentize($white, 0.9);
        border-bottom: 2px solid transparentize($white, 0.9);
        display: inline-block;
        text-transform: capitalize;
        text-align: center;

        @media screen and (max-width: 624px){
          & {
            font-size: 30px;
          }
        }
      }
    }

    .wishes-content {
      padding: 0 120px;
      margin: 0 0 120px 0;

      @media screen and (max-width: 765px) {
        & {
          padding: 0 0;
        }
      }

      mat-card {
        &.outside {
          background: transparentize($white, 0.8);
          border-top: 2px solid transparentize($white, 0.9);
          border-bottom: 2px solid transparentize($white, 0.9);
        }

        &.inside {
          background: transparent;
          box-shadow: none;
          // width: 600px;
          margin: 0 auto;
        }
      }


      .row__1 {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        & > div {
          flex: 1;

          mat-form-field {
            width: 90%;

            button {
              color: $white;
            }
          }
        }
      }

      .row__2 {
        color: $white;
        margin: 20px 0;

        .margin {
          &:first-child {
            margin-left: 0px;
          }
          margin: 10px;
        }
      }

      .row__3 {
        .comment {
          width: 100%;
        }
      }

      .row__4 {
        position: relative;
        height: 50px;

        button {
          background-color: transparentize($white, 0.6);
          color: $white;
          position: absolute;
          right: 0;
        }
      }

      .alert {
        &.alert-danger {
          color: $warn;
        }
      }

    }
  }
}

::ng-deep .mat-form-field-label, input, textarea {
  color: $white !important;
}

 ::ng-deep .mat-form-field-hide-placeholder .mat-form-field-label {
  /*change color of label*/
  color: transparentize($white, 0.5) !important;
 }


 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: $white !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: $white !important;;
}

::ng-deep .select-option .mat-select-value {
  color: $white;
}
