.title {

  .alert-icon {
    text-align: center;
    mat-icon {
      font-size: 100px;
      line-height: 100px;
    }
  }

  .title-text {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5em;
  }
}

.close {
  margin: 20px 0 0 0;
}
