<div class="navigation__header">
  <div class="link-navigation__header">
    <div class="sie-navigation__header" style="transform: scale(1, 1) translate(0px, 0px) rotate(90deg);">
      <div class="se-simple"></div>
    </div>
    <div class="link">
      <div class="col-sm-12 mb-2">
        <div class="col-sm-5 row mx-auto size-header__text">
          <div class="col-sm-5 text-right size-title-header__text">SHOP</div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5 text-left size-title-header__text">CONNECT</div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-5 row mx-auto size-header__text">
          <div class="col-sm-5 text-right">HOME</div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5 text-left">BOOK</div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-5 row mx-auto size-header__text">
          <div class="col-sm-5 text-right">ABOUT</div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5 text-left">CONTACT</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="introduce__view">
  <div class="video__background">
    <div class="video-area__background" (scroll)="scrollHandler($event)" #videoArea>
      <video class="sb-mc" loop="" autoplay="" muted="">
        <source src="//static.showit.co/file/-vVyQbuuT-G4gBQkSluE7A/29419/my_movie_2_1.mp4" type="video/mp4"></video></div>
    <div class="text-area">
      <div class="col-sm-12 mx-auto text-center area-format__text">
        <div class="area-1__text">AN DU</div>
        <div class="area-2__text">SPA</div>

        <div class="mt-5">
          <button class="btn btn-lg btn-outline-light text-light">Đặt Lịch Ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about__view">
  <div class="col-sm-12 row about-container">
    <div class="col-sm-6 avatar"></div>
    <div class="col-sm-6 about-content text-left">
      <div class="spa-text-1">ABOUT</div>
      <div class="spa-text-5">AN DU SPA</div>
      <div class="about-line wl-200"><div class="se-simple"></div></div>
      <div class="about-content__text">
        something here
      </div>
    </div>
  </div>
</div>